option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 900
    IgnoreHealthCheck: true
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: basic
